$base_size: 10px;
$base_font_size: 12px;
$font_family: 'Quicksand', sans-serif;
$base_line_height: 1.4rem;
$borders_under_box: 1px dotted white;
$img_path: "images/";
$image_slider_name: office, office_two, office_three, office_four;
$animatian_delay: 0s;
$img_number: 1;
$main_color: #864949;
$sprites_media_name: facebook, twitter, youtube, in;
$background_position_x:1px;
$background_position_y:0px;
$transition: all 0.25s linear;
$margin_boxes_tablets: 0 1% 2% 1%;